<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.workapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkApp">
        <activity
            android:name=".RecruitActivity"
            android:exported="false" />
        <activity
            android:name=".Recruit"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantJoblistActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantMypageActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyParticipantActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyJoblistActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyMypageActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".CompanymainActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantMainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.WorkApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

